hr .dottedLine {
    border-top: 1px dotted grey;
}

.newsContainer {
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.news  {
    width: 32%;
    height: 45%;
    margin: 15px auto -10px auto;

}

.borderDashed{
    border-top: 1px dashed lightgrey;
    padding-top: 50px;
}

.newsImage {
    display: block;
    width: 100%;
    height: auto;
}

.news h2 {
    font-size: 1.25em;
    font-weight: 400;
    font-family: Walbaum, Georgia, 'Times new roman', serif;
    color: black;
}

.news .authorDate {
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    color: grey;
}

a:hover h2{
    color: #fa3b0f;
}

a:hover .background img {
    mix-blend-mode: luminosity;
}

a .background {
    width: 100%;
    height: auto;
    background: #be2e0d;
}