/*General*/

body{
	background: rgb(238,238,238);
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: #be2e0d;
}

hr{
	width: 100%;
	border-bottom: 1px dashed #ccc;
	border-top: none;
	border-left: none;
	border-right: none;
}

/*General content*/

#generalContainer{
	max-width: 960px;
	background-color: white;
	margin: 0 auto 50px;
	min-height: 1200px;
	padding: 20px 30px 0;
}