<footer>
	<ul class="informationContainer">
		<li>
			<ul>
				<li class="first">
					<h3>Le journal</h3>
				</li>
				<li class="listPoint">
					<a href="#">Suivre nos actualités</a>
				</li>
				<li class="listPoint">
					<a href="#">Lettre d'information</a>
				</li>
				<li class="listPoint">
					<a href="#">Nous contacter</a>
				</li>
				<li class="listPoint">
					<a href="#">L'équipe</a>
				</li>
				<li class="listPoint">
					<a href="#">Édition électronique</a>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="first">
					<h3>Services</h3>
				</li>
				<li class="listPoint">
					<a href="#">Abonnements</a>
				</li>
				<li class="listPoint">
					<a href="#">Réabonnement</a>
				</li>
				<li class="listPoint">
					<a href="#">Boutique</a>
				</li>
				<li class="listPoint">
					<a href="#">Dons</a>
				</li>
				<li class="listPoint">
					<a href="#">Abonnements institutionnels</a>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="first">
					<h3>À propos</h3>
				</li>
				<li class="listPoint">
					<a href="#">Qui sommes-nous ?</a>
				</li>
				<li class="listPoint">
					<a href="#">Editions internationales</a>
				</li>
				<li class="listPoint">
					<a href="#">Les amis du <i>Diplo</i></a>
				</li>
				<li class="listPoint">
					<a href="#">Mentions légales</a>
				</li>
				<li class="listPoint">
					<a href="#">Politique de confidentialité</a>
				</li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="first">
					<h3>Le Monde diplomatique</h3>
				</li>
				<li class="listPoint">
					<a href="#">Archives</a>
				</li>
				<li class="listPoint">
					<a href="#">Journal audio</a>
				</li>
				<li class="listPoint">
					<a href="#">Les blogs du <i>Diplo</i></a>
				</li>
				<li class="listPoint">
					<a href="#">Manière de voir</a>
				</li>
				<li class="listPoint">
					<a href="#">Cartographie</a>
				</li>
			</ul>
		</li>
	</ul>
</footer>