<div class="footer">
	<div class="informationContainer">
		<span class="first">
			<h3>Le journal</h3>
		</span>
		<a href="#">Suivre nos actualités</a><br>
		<a href="#">Lettre d'information</a><br>
		<a href="#">Nous contacter</a><br>
		<a href="#">L'équipe</a><br>
		<a href="#">Édition électronique</a><br>
	</div>
	<div class="informationContainer">
		<span class="first">
			<h3>Services</h3>
		</span>
		<a href="#">Abonnements</a><br>
		<a href="#">Réabonnement</a><br>
		<a href="#">Boutique</a><br>
		<a href="#">Dons</a><br>
		<a href="#">Abonnements institutionnels</a><br>
	</div>
	<div class="informationContainer">
		<span class="first">
			<h3>À propos</h3>
		</span>
		<a href="#">Qui sommes-nous ?</a><br>
		<a href="#">Editions internationales</a><br>
		<a href="#">Les amis du <i>Diplo</i></a><br>
		<a href="#">Mentions légales</a><br>
		<a href="#">Politique de confidentialité</a><br>
	</div>
	<div class="informationContainer">
		<span class="first">
			<h3>Le Monde diplomatique</h3>
		</span>
		<a href="#">Archives</a><br>
		<a href="#">Journal audio</a><br>
		<a href="#">Les blogs du <i>Diplo</i></a><br>
		<a href="#">Manière de voir</a><br>
		<a href="#">Cartographie</a><br>
	</div>
</div>