<hr class = "dottedLine">
<div class = newsContainer>
    <a class = "news" href = "#">
        <div class="background">
            <img class = "newsImage" src = "img/clarice_lispector_por_maureen_bisilliat_em_agosto_de_1969._acervo_ims-edf25.jpg" alt = "cc Maureen Bisilliat / Instituto Moreira Salles, 1969">
        </div>
        <h2>Une gauche assise à la droite du peuple</h2>
        <div class = "authorDate">Gilles Costaz, janvier 2021</div>
    </a>
    <a class = "news" href = "#">
        <div class="background">
            <img class = "newsImage" src = "img/tour-ecfea.jpg" alt = "Thomas Cole. — « Romantic Landscape with Ruined Tower » (Paysage romantique avec tour en ruine), 1832-1836.">
        </div>
        <h2>Pour un savoir engagé</h2>
        <div class = "authorDate">Pierre Bourdieu, février 2002</div>
    </a>
    <a class = "news" href = "#">
        <div class="background">    
            <img class = "newsImage" src = "img/arton62641.jpg" alt = "">
        </div>
        <h2>Des mondes sur la planche</h2>
        <div class = "authorDate">Morvandiau, janvier 2021</div>
    </a>
    <a class = "news borderDashed" href = "#">
        <div class="background">
            <img class = "newsImage" src = "img/arton58948.jpg" alt = "">
        </div>
        <h2>Histoire populaire  de la France</h2>
        <div class = "authorDate">Gérard Noiriel, août 2018</div>
    </a>
    <a class = "news borderDashed" href = "#">
        <div class="background">
            <img class = "newsImage" src = "img/arton15581.jpg" alt = "">
        </div>
        <h2>La montagne victime des sports d’hiver</h2>
        <div class = "authorDate">Philippe Descamps, février 2008</div>
    </a>
    <a class = "news borderDashed" href = "#">
        <div class="background">
            <img class = "newsImage" src = "img/arton62584.jpg" alt = "">
        </div>
        <h2>Il y a cent ans naissait un parti authenti­quement populaire</h2>
        <div class = "authorDate">Julian Mischi, décembre 2020 </div>
    </a>
    <hr>
</div>
